<app-tab-header
  title="User Guide"
  description="Manage application users"
  [searchText]="searchTerm"
  (searchTextChange)="onSearchTermChange($event)"
></app-tab-header>

<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
<div
  style="
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  "
>
  <div></div>
  <button
    mat-flat-button
    color="primary
  "
    type="button"
    (click)="createNew()"
  >
    <mat-icon>add</mat-icon>
    New
  </button>
</div>

<div class="container">
  @for (item of userGuides$; track $index) {
  <app-user-guide-card [userGuide]="item" />
  }
</div>
